http {
  upstream all {
    server 10.0.0.1:8000;
    server 10.0.0.2:8000;
    server 10.0.0.3:8000;
  }

  server {
    listen 8080;
    location / {
      proxy_pass http://all/;
    }
  }
}

events { }
